@using BikesBooking.Common
@{
    this.ViewData["Title"] = "Home Page";
    var countriesItems = this.Model.CountriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

@model SearchMotorModel


<div class="row bg-image" style="background-image:url('/img/IndexImage.jpg'); height: 100vh;">
    <div class="col-lg-4 col-md-4 col-sm-3">
        <div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="search-form-container lead-section">
                <h4 class="font-weight-bold"> Search for a rental</h4>
                <form method="post" class="search-form-container lead-section">

                    <div class="form-group">
                        <label asp-for="CountryId"></label>
                        <select asp-for="CountryId" class="form-control" asp-items="countriesItems"></select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CityId"></label>
                        <select asp-for="CityId"
                                name="CityId"
                                id="CityId"
                                asp-items="@(new SelectList(string.Empty, "Id", "Name"))" class="form-control"></select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PickUpDate"></label>
                        <input asp-for="PickUpDate" class="form-control" />
                        <span asp-validation-for="PickUpDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DropOffDate"></label>
                        <input asp-for="DropOffDate" class="form-control" />
                        <span asp-validation-for="DropOffDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList<MotorType>()"></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-4 col-sm-2">
        <h2 class="display-3">Rent a motorcycle, scooter or bicycle in any part of the world</h2>
        <ul class="advantages-list h4">
            <li>Compare rental companies in @Model.CityCount cities worldwide</li>
            <li>Price Match Guarantee</li>
            <li>Manage your booking online</li>
            <li>Verified reviews and ratings</li>
            <li>FREE cancellations on most bookings</li>
        </ul>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
             getCity();
             $('#CountryId').change(function () {
            getCity();
            });
        });
        function getCity() {
            var url = '@Url.Content("~/")' + "City/GetCity";

            var ddlSource = '#CountryId';
            $.getJSON(url, { id: $(ddlSource).val() }, function (data) {
                var items = '';
                $('#CityId').empty();
                $.each(data, function (i, city) {
                    items += "<option value ='" + city.value + "'>" + city.text + "</option>";
                });
                $('#CityId').html(items);
            });
        }
    </script>
}
