@model MotorcycleServiceDto

@{
    this.ViewData["Title"] = "Add Motorcycle";
}


@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["Message"]
    </div>
}

<h4 class="font-weight-bold text-md-center">Here you can add your motorcycle.</h4>

<br />

<partial name="_MotorFormPartial" model="@Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}