@model MotorcycleFormModel

@{
    this.ViewData["Title"] = "Edit your motorcycle";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["EditSuccessful"]
    </div>
}

<partial name="_MotorFormPartial" model="@Model" />