@using BikesBooking.Common

@inject IDealersService Dealers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3 nav-bar">
            <div class="container">
                <img src="~/img/BikesBooking.png" class="pmg m-sm-1" width="70" height="60">
                <a class="navbar-brand m-sm-1 font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index"><h3 class="font-weight-bold">@GlobalConstants.SystemName</h3></a>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-outline-dark m-md-2" href="/Administrator/Statistic">Statistic</a>

                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (this.User.Identity.IsAuthenticated)
                {
                    var userId = User.GetId();
                    var userIsDealer = Dealers.IsDealer(userId);
                    if (userIsDealer)
                    {
                        <partial name="_PartialManagementDealerMenu" />
                    }
                }
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid h-100">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-lg-2">
                    <partial name="_PartialWeatherWidget" />
                </div>
                <div class="col-lg-8 g-mb-30 g-mb-0-lg">
                    @this.RenderBody()
                </div>

                <div class="col-lg-2">
                    <partial name="_PartialStatisticsTable" />
                </div>
            </div>
        </main>
        <br />
    </div>

    <footer class="border-top footer text-muted nav-bar">
        <div>
            <partial name="_PartialFooterView" />
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/Statistics.js" asp-append-version="true"></script>
    @*<script src="~/js/Weather.js" asp-append-version="true"></script>*@
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
