<div class="btn-group">
    <button type="button" class="btn dropdown-toggle" style="background-color: cornflowerblue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu">
        <h6>
            <a class="dropdown-item" type="button" asp-area="" asp-controller="Motor" asp-action="Add">Add Motorcycle</a>
        </h6>
        <h6>
            <a class="dropdown-item" type="button" asp-area="" asp-controller="Motor" asp-action="All">My Collection</a>
        </h6>
    </div>
</div>
