<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Contact">Contacts</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="ClientMessages">Client Messages</a>
</li>
