<div id="m-booked-bl-simple-week-vertical-60124">
    <div class="booked-wzs-160-275 weather-customize" style="background-color:#137AE9; width:280px;" id="width3 ">
        <div class="booked-wzs-160-275_in">
            <div class="booked-wzs-160-275-data">
                <div class="booked-wzs-160-275-left-img wrz-03">
                </div> <div class="booked-wzs-160-275-right">
                    <div class="booked-wzs-day-deck">
                        <div class="booked-wzs-day-val">
                            <div class="booked-wzs-day-number">
                                <span class="plus">+</span>28
                            </div>
                            <div class="booked-wzs-day-dergee">
                                <div class="booked-wzs-day-dergee-val">
                                    &deg;
                                </div>
                                <div class="booked-wzs-day-dergee-name">
                                    C
                                </div>
                            </div>
                        </div>
                        <div class="booked-wzs-day">
                           <div class="booked-wzs-day-d">
                                <span class="plus">+</span>29&deg;
                            </div>
                            <div class="booked-wzs-day-n">
                                <span class="plus">+</span>17&deg;
                            </div>
                        </div>
                    </div>
                    <div class="booked-wzs-160-275-info">
                        <div class="booked-wzs-160-275-city">
                            Plovdiv
                        </div>
                        <div class="booked-wzs-160-275-date">
                            Thursday, 22
                        </div>
                    </div>
                </div>
            </div> <table cellpadding="0" cellspacing="0" class="booked-wzs-table-160">
                <tr>
                    <td class="week-day">
                        <span class="week-day-txt">Friday</span>
                    </td>
                    <td class="week-day-ico">
                        <div class="wrz-sml wrzs-01">
                        </div>
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>32&deg;
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>16&deg;
                    </td>
                </tr>
                <tr>
                    <td class="week-day">
                        <span class="week-day-txt">Saturday</span>
                    </td>
                    <td class="week-day-ico">
                        <div class="wrz-sml wrzs-01">
                        </div>
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>30&deg;
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>17&deg;
                    </td>
                </tr>
                <tr>
                    <td class="week-day">
                        <span class="week-day-txt">Sunday</span>
                    </td>
                    <td class="week-day-ico">
                        <div class="wrz-sml wrzs-01">
                        </div>
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>33&deg;
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>17&deg;
                    </td>
                </tr>
                <tr>
                    <td class="week-day">
                        <span class="week-day-txt">Monday</span>
                    </td>
                    <td class="week-day-ico">
                        <div class="wrz-sml wrzs-01">
                        </div>
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>35&deg;
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>17&deg;
                    </td>
                </tr>
                <tr>
                    <td class="week-day">
                        <span class="week-day-txt">Tuesday</span>
                    </td>
                    <td class="week-day-ico">
                        <div class="wrz-sml wrzs-01">
                        </div>
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>37&deg;
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>19&deg;
                    </td>
                </tr>
                <tr>
                    <td class="week-day">
                        <span class="week-day-txt">Wednesday</span>
                    </td>
                    <td class="week-day-ico">
                        <div class="wrz-sml wrzs-01">
                        </div>
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>38&deg;
                    </td>
                    <td class="week-day-val">
                        <span class="plus">+</span>20&deg;
                    </td>
                </tr>
            </table>
            <div class="booked-wzs-center">
                <span class="booked-wzs-bottom-l">See 7-Day Forecast</span>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var css_file = document.createElement("link");
    var widgetUrl = location.href;
    css_file.setAttribute("rel", "stylesheet");
    css_file.setAttribute("type", "text/css");
    css_file.setAttribute("href", 'https://s.bookcdn.com/css/w/booked-wzs-widget-160x275.css?v=0.0.1');
    document.getElementsByTagName("head")[0].appendChild(css_file);
    function setWidgetData_60124(data) {
        if (typeof (data) != 'undefined' && data.results.length > 0) {
            for (var i = 0; i < data.results.length; ++i) {
                var objMainBlock = document.getElementById('m-booked-bl-simple-week-vertical-60124');
                if (objMainBlock !== null) {
                    var copyBlock = document.getElementById('m-bookew-weather-copy-' + data.results[i].widget_type);
                    objMainBlock.innerHTML = data.results[i].html_code;
                    if (copyBlock !== null) objMainBlock.appendChild(copyBlock);
                }
            }
        }
        else { alert('data=undefined||data.results is empty'); }
    }
    var widgetSrc = "https://widgets.booked.net/weather/info?action=get_weather_info;ver=7;cityID=11472;type=4;scode=124;ltid=3458;domid=w209;anc_id=8869;countday=undefined;cmetric=1;wlangID=1;color=137AE9;wwidth=280;header_color=ffffff;text_color=333333;link_color=08488D;border_form=1;footer_color=ffffff;footer_text_color=333333;transparent=0;v=0.0.1";
    widgetSrc += ';ref=' + widgetUrl;
    widgetSrc += ';rand_id=60124';
    var weatherBookedScript = document.createElement("script");
    weatherBookedScript.setAttribute("type", "text/javascript");
    weatherBookedScript.src = widgetSrc;
    document.body.appendChild(weatherBookedScript)
</script><!-- weather widget end -->