
<div class="g-mb-20">
    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10 table-responsive-sm">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
        <table class="table table-striped table-bordered table-sm table-light">
            <tbody class="text-center">
                <tr>
                    <th colspan="2">
                        <h1 class="h4 mb-0">Statistics:</h1>
                    </th>
                </tr>
                <tr>
                    <th scope="col">Total Motorcycles:</th>
                    <td scope="col" id="totals-motorcycles"></td>
                </tr>
                <tr>
                    <th scope="col">Users:</th>
                    <td scope="col" id="totals-users"></td>
                </tr>
                <tr>
                    <th scope="col">Total rents:</th>
                    <td scope="col" id="totals-rent">0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



