@{
    this.ViewData["Title"] = "Dealer or Client";
}

<div class="container bg-image loginPage" style="background-image:url('/img/LoginPage.jpg');">
    <br />
    <div class="">
        <div class="text-center mb-5">
            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Dealer" asp-action="Create">Become Dealer</a>
        </div>

        <div class="text-center mt-5">
            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Client" asp-action="Create">Become Client</a>
        </div>
    </div>
    <br />
</div>

