@model BecomeClientFromModel

@{
    this.ViewData["Title"] = "Become Client";
}



<h4 class="font-weight-bold text-md-center">What is your address</h4>

<br />

<div class="container mb-5">
    <form method="post" class="container lead-section col-md-6 offset-md-3">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" placeholder="Es: Plovdiv.." />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" placeholder="Es: ul.Chemshir n7.." />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <br />

        <button type="submit" class="btn btn-primary">Edit</button>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}