@model BecomeDealerFormModel

@{
    this.ViewData["Title"] = "Become Delaer";
}



<h4 class="font-weight-bold text-md-center">Do you want to be a dealer?</h4>
<h4 class="font-weight-bold text-md-center">Complete the information about your company!</h4>

<br />

<div class="container mb-5">
    <form method="post" enctype="multipart/form-data" class="container lead-section col-md-6 offset-md-3">
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Es: CmtMotors.." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger" placeholder="Es: CmtMotors@gmail.com.."></span>
        </div>

        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" placeholder="Es: Plovdiv.." />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="form-control" placeholder="Es: Bulgaria.." />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" placeholder="Es: ul.Chemshir n7.." />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" placeholder="I'm a big dealer'" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <label asp-for="ImageFile"></label>
        <div class="row">
            <div class="btn">
                <input type="file" asp-for="ImageFile">
            </div>
            <div class="text-center">
                <img src="http://via.placeholder.com/240x180" id="preview" class="img-thumbnail">
            </div>

        </div>

        <br />

        <button type="submit" class="btn btn-primary">Become dealer</button>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/ReadImageForPlaceholder.js"></script>
    <link href="~/css/PlaceHolder.css" rel="stylesheet" />
}